body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  background-color: black;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  width: 100%;
}

nav {
  padding: 20px;
  align-items: center;
  display: flex;
}

nav span {
  text-decoration: underline;
  align-items: center;
  padding: 20px 10px;
}

.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}
